extends baseEmail 

block content 
    p Oops!!!,
    p Something went wrong
    p Your Transaction to #{otherDetails.recieverName} is failed.  
    p Your cuurent balance is  #{accountBalance} coins .
    p - MyWallet