extends baseEmail 

block content
    .success_color
    p Hi #{name},
    p Your Transaction to #{otherDetails.recieverName} is successful.  
    p Your cuurent balance is  #{accountBalance} coins .
    p - MyWallet