extends baseEmail 

block content 
    p Hi #{name},
    p Welcome to MyWallet, we're glad to have you.  
    p Sign Up process is successful.
    p Your account is credited with #{accountBalance} coins .
    p - Subhajit Das